﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.time.timer.html" name="" title="max.time.timer">max.time.timer</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.time.timer.FrameTimer.html" name="" title="FrameTimer">FrameTimer</a>
                          </li>
                          <li>
                              <a href="max.time.timer.ITimer.html" name="" title="ITimer">ITimer</a>
                          </li>
                          <li>
                              <a href="max.time.timer.StopwatchTimer.html" name="" title="StopwatchTimer">StopwatchTimer</a>
                          </li>
                          <li>
                              <a href="max.time.timer.Timer.html" name="" title="Timer">Timer</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>