body {
    color: #57898e;
    font-family: "Open Sans",sans-serif;
    line-height: 1.5;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    background-color: #111;
}

a {
    color: #7be0d0;
}

a:hover {
    color: #9de0f0;
}

h1 {
    font-weight: 600;
    font-size: 40px;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.8;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.8;
}

h5 {
    font-size: 14px;
    padding: 10px 0px;
}

article h1,
article h2,
article h3,
article h4 {
    margin-top: 35px;
    margin-bottom: 15px;
}

article h4 {
    padding-bottom: 8px;
    border-bottom: 2px solid #ddd;
}

.navbar-brand>img {
    color: #1f3942;
}

.navbar {
    border: none;
}

.subnav {
    border-top: 1px solid #ddd;
    background-color: #195a5e;
}

.navbar-inverse {
    background-color: #111;
    z-index: 100;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: #43999e;
    background-color: #111;
    border-bottom: 3px solid transparent;
    padding-bottom: 12px;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #A3C9Ce;
    background-color: #111;
    border-bottom: 3px solid #1f5d60;
    transition: all ease 0.25s;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #A3C9Ce;
    background-color: #111;
    border-bottom: 3px solid #A3C9Ce;
    transition: all ease 0.25s;
}

.navbar-form .form-control {
    border: none;
    border-radius: 0;
}

.toc .level1>li {
    font-weight: 400;
}

.toc .nav>li>a {
    color: #ccd5dc;
}

.sidefilter {
    background-color: #113435;
    border-left: none;
    border-right: none;
}

.toc-filter {
    padding: 10px;
    margin: 0;
    background-color: #113435;
}

.toc-filter>input {
    border: none;
    border-radius: unset;
    background-color: #195a5e;
    padding: 5px 0 5px 20px;
    font-size: 90%;
}

.toc-filter>.clear-icon {
    position: absolute;
    top: 17px;
    right: 15px;
}

.toc-filter>input:focus {
    color: #83B9Be;
    transition: all ease 0.25s;
}

.toc-filter>.filter-icon {
    display: none;
}

.sidetoc>.toc {
    background-color: #113435;
    overflow-x: hidden;
}

.sidetoc {
    background-color: #113435;
    border: none;
}

.navbar-inverse .navbar-brand {
    color: #9d9dff;
}

::placeholder {
  color: #4b8d8e;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #4b8d8e;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #4b8d8e;
}

.sidenav, .fixed_header, .toc {
    background-color: #113435;
}

.alert {
    background-color: inherit;
    border: none;
    padding: 10px 0;
    border-radius: 0;
}

.alert>p {
    margin-bottom: 0;
    padding: 5px 10px;
    border-bottom: 1px solid;
    background-color: #212123;
}

.alert>h5 {
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 2px solid;
    background-color: #212123;
    border-radius: none;
}

.alert>ul {
    margin-bottom: 0;
    padding: 5px 40px;
}

.alert-info{
    color: #1976d2;
}

.alert-warning{
    color: #f57f17;
}

.alert-danger{
    color: #d32f2f;
}

pre {
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #181818;
    border-radius: 0;
    border: none;
}

code{
    color: #5e75b0;
    background: #181818 !important;
    border-radius: 2px;
}

.hljs{
    color: #aaa;
}

.hljs-keyword, .hljs-selector-tag, .hljs-type {
    color: #32939a;
}

.hljs-emphasis, .hljs-quote, .hljs-string, .hljs-strong, .hljs-template-variable, .hljs-variable {
    color: #9b6627;
}

.hljs-attr, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-selector-pseudo, .hljs-title {
    color: #867cef;
}

.hljs-comment, .hljs-meta {
    color: #558e66;
}

.hljs-attribute, .hljs-bullet, .hljs-literal, .hljs-symbol {
    color: #006693;
}



.toc .nav > li.active > .expand-stub::before, .toc .nav > li.in > .expand-stub::before, .toc .nav > li.in.active > .expand-stub::before, .toc .nav > li.filtered > .expand-stub::before {
    content: "▾";
}

.toc .nav > li > .expand-stub::before, .toc .nav > li.active > .expand-stub::before {
    content: "▸";
}

.affix ul ul > li > a:before {
    content: "|";
}

.breadcrumb .label.label-primary {
    background: #444;
    border-radius: 0;
    font-weight: normal;
    font-size: 100%;
}

#breadcrumb .breadcrumb>li a {
    border-radius: 0;
    font-weight: normal;
    font-size: 85%;
    display: inline;
    padding: 0 .6em 0;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #83B9Be;
}
#breadcrumb .breadcrumb>li a:hover{
    color: #a3c9ce;
    transition: all ease 0.25s;
}

.breadcrumb > li + li:before {
    content: "⯈";
    font-size: 75%;
    color: #111;
    padding: 0;
}

.toc .level1>li {
    font-weight: 600;
    font-size: 130%;
    padding-left: 5px;
}

.footer {
    border-top: none;
    background-color: #111;
    padding: 15px 0;
    font-size: 90%;
}

.toc .nav > li > a:hover, .toc .nav > li > a:focus {
    color: #fff;
    transition: all ease 0.1s;
}

.form-control {
    background-color: #195a5e;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input#search-query:focus {
    color: #c5c5de;
}

th {
    background-color: #071e23;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #0C0C0C;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #111111;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #181818;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 10px;
    font-size: 110%;
    border-left: 5px solid #69696e;
    color: #69696e;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: #195a5e;
    border-color: #195a5e;
}

.breadcrumb>li, .pagination {
    display: inline;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #4af2ff;
    text-decoration: none;
}

@media (min-width: 1600px){
    .container {
        width: 100%;
    }
    .sidefilter {
        width: 18%;
    }
    .sidetoc{
        width: 18%;
    }
    .article.grid-right {
        margin-left: 19%;
    }
    .sideaffix {
        width: 11.5%;
    }

    .affix ul > li.active > a{
        white-space: initial;
    }
    .affix ul > li > a{
        width: 99%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}